@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a {
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color:rgb(10, 29, 65);
text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    
    
}

.logo {
    cursor: pointer;
    margin-right: auto;
    font-weight: 1000;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:rgb(23, 84, 197);
}

.cart {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: 	rgba(0,255,255,1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.cart img {
    vertical-align: middle;
}

.cart:hover {
    background-color: rgba(0,136,169,0.7);
}